:root {
    --primary-color: hsl(206, 17%, 28%);
    --secondary-bg-color: #e7e9eb;
    --btn-color: rgb(82, 191, 173);
    --score-btn-color: rgb(47, 100, 215);
    --footer-btn-color: gray;
    --background-color:#f9fbfd;
    --card-bg-color: hsl(0, 0%, 100%);
    --right-color: green;
    --wrong-color: red;
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
}

#quiz {
    font-weight: bold;
    font-size: x-large;
}

.container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: var(--primary-color);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.hello {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: sans-serif;
  }

#choices {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--btn-color);
    padding: 10px;
    color: white;
    border-radius: 10%;
    margin: 20px;
}

#choices:hover {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--score-btn-color);
    padding: 10px;
    color: white;
    border-radius: 5%;
    margin: 20px;
  }

h2 {
    color: black;
    font-size: small;
    text-align: right;
    font-family: sans-serif;
}

h3 {
    color: black;
    font-size: small;
    text-align: center;
    font-family: sans-serif;
}

nav {
    color: black;
    font-family: sans-serif;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: right;
  }

nav a {
      color: var(--primary-color);
      font-family: sans-serif;
      padding-bottom: 20px;
      margin-bottom: 40px;
  }

  #backBtn, #clear {
    font-size: small;
    margin: 5px;
}

#highScore {
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
}


  button {
    background-color: var(--footer-btn-color);
    padding: 5px;
    color: black;
    border: outset;
    font-size: large;
    margin: 10px;
  }

  button:active {
    background-color: var(--btn-color);
    padding: 5px;
    color: black;
    border: inset;
    font-size: large;
    margin: 10px;
  }

/* 
#next {
    float: right;
    background-color: var(--background-color);
    border-radius: 25px;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 20px;
    border: solid 2px black;
}

.correct {
    background-color: var (--right-color);
}
.wrong{
    background-color: var (--wrong-color);
} */

footer {
    margin-top: 100px;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: var(--footer-btn-color);
    text-align: right;
}

    
/* desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    nav {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    footer {
      text-align: center;
      width: 100%;
    }
}
/* tablet and smaller screen sizes */
@media screen and (max-width: 768px) {
    main {
      padding: 30px 15px;
    }
}