:root {
    --primary-color: hsl(206, 17%, 28%);
    --secondary-bg-color: #e7e9eb;
    --btn-color: rgb(17, 158, 135);
    --font-color: #624D26;
    --background-color:#f9fbfd;
    --card-bg-color: hsl(0, 0%, 100%);
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.Wrap {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: var(--primary-color);
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
  }

.Wrap {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: var(--primary-color);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }
  
  
  
   #timer {
      font-weight: bolder;
      color: var(--primary-color);
      
  }
  
  .card-footer::before {
      content: " ";
      display: block;
      width: 100%;
      background: var(--secondary-bg-color);
      height: 2px;
  }
  
  .card-footer::after {
      content: " ";
      display: block;
      clear: both;
  }
  
  .answerBtns{
      cursor: pointer;
      border: none;
      background-color: var(--btn-color);
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
      color: hsl(0, 0%, 0%);
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 20px;
      margin: 16px 16px 16px 20px;
      padding: 14px 34px;
      text-align: center;
  }
  #next {
    float: right;
}


.hide{
    opacity:0;
}


footer{
    flex:1 120%;
}

.footer-btns {
    color: gray;
    font-style: italic;
    border-top: solid 2px gray;
    flex: 1 100%;
    margin-top: 10px;
    
}

.button {
    background-color:red;
    color:white;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    border: none;
    list-style-position: inside;
}

.quizCont {
    justify-content: space-between;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    
    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}